[Settings]
ShowAllProcesses=TRUE
MorePrecision=TRUE
FullCommandLine=TRUE
ShowStatusIcon=FALSE
ShowMemoryInXBytes=TRUE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=DEFAULT
PromptTerminateTask=TRUE
RefreshRate=750
ColumnsPositions=0;1;3;4;5;6;8;2;7;
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=TRUE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=TRUE
SortColumn=0
SortType=1
WindowWidth=906
WindowHeight=665
HandlePosition=164
ProcessTreeView=TRUE
